[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
emcee = "*"
tqdm = "*"
tabulate = "*"
corner = "*"
numba = "*"
astropy = "*"

[dev-packages]

[requires]
python_version = "3.10"
